 body {
	background-color: #ffe5fd;
	color: #000000;
	text-align: center;
	margin-top: 80px;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
  }
/* #UNC {
	background-color: #52bde8;
	color: #000000;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
} */
#UNC {
    background-color: #4cb2e5;
    border-radius: 100px;
    box-shadow: rgba(44, 115, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 94, 187, 0.15) 0 1px 2px,rgba(67, 74, 210, 0.15) 0 2px 4px,rgba(44, 92, 187, 0.15) 0 4px 8px,rgba(44, 46, 187, 0.15) 0 8px 16px,rgba(67, 62, 209, 0.15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#NCSU {
	background-color: #eb4141;
	color: #000000;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
} 
#UNCC {
	background-color: #47a53d;
	color: #000000;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#ASU {
	background-color: #e8eb3a;
	color: #000000;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#DUKE {
	background-color: #21218c;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}#ECU {
	background-color: #984ded;
	color: #000000;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#UNCW {
	background-color: #43d9c5;
	color: #000000;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#UNCG {
	background-color: #0c2d6b;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#WCU {
	background-color: #9518cb;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;	
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#WU {
	background-color: #bdbf43;
	color: #000000;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#FSU_Fayetteville {
	background-color: #2d7cd6;
	color: #000000;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#ELON {
	background-color: #6e1313;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#DC {
	background-color: #c41e1e;
	color: #000000;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#NCCU {
	background-color: #701212;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#WFU {
	background-color: #6d5720;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#UNCA {
	background-color: #000000;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#UNCSA {
	background-color: #c41e1e;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#UNCP {
	background-color: #6c5030;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#HPU_HighPoint {
	background-color: #4a146e;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
}
#Meridith {
	background-color: #672540;
	color: #ffffff;
	font-size: 15px;
	margin: 15px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
}  
#UNC:hover {
    box-shadow: rgba(84, 120, 218, 0.35) 0 -25px 18px -14px inset,rgba(87, 126, 224, 0.25) 0 1px 2px,rgba(88, 110, 222, 0.25) 0 2px 4px,rgba(74, 61, 208, 0.25) 0 4px 8px,rgba(58, 105, 234, 0.25) 0 8px 16px,rgba(61, 99, 226, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    }
#Meridith:hover {
	box-shadow: rgba(201, 58, 58, 0.35) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.25) 0 1px 2px,rgba(196, 60, 60, 0.25) 0 2px 4px,rgba(187, 49, 44, 0.25) 0 4px 8px,rgba(187, 44, 44, 0.25) 0 8px 16px,rgba(215, 64, 62, 0.25) 0 16px 32px;
	transform: scale(1.05) rotate(-1deg);
	}